body{
            font-family: Arial,;
            font-size: medium;
            background-color: #9bd9ea;
            padding: 20px;
            color:blue;

        }
        h1{
            color:rgb(211, 86, 242);
        }
        p{
            color:black;
        }